<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>view1</title>
</head>
<body>
	<div id="view1.1">・。❄view1 첫번째 영역❄゜・。<br><br><br><img style='height: 440px; width: 700px; margin: 0;' src='/images/view1.1.jpg'><br><br><br><br><br><br><br><br></div>
	<div id="view1.2">・。❄view1 두번째 영역❄゜・。<br><br><br><img style='height: 440px; width: 700px; margin: 0;' src='/images/view1.2.jpg'><br><br><br><br><br><br><br><br></div>
	<div id="view1.3">・。❄view1 세번째 영역❄゜・。<br><br><br><img style='height: 440px; width: 700px; margin: 0;' src='/images/view1.3.jpg'><br><br><br><br><br><br><br><br></div>
	<div id="view1.4">・。❄view1 네번째 영역❄゜・。<br><br><br><img style='height: 440px; width: 700px;margin: 0;' src='/images/view1.4.PNG'><br><br><br><br><br><br><br><br></div>
	<div id="view1.5">・。❄view1 다섯번째 영역❄゜・。<br><br><br><img style='height: 500px; width: 700px;margin: 0;' src='/images/view1.5.gif'><br><br><br><br><br><br><br><br></div>
</body>
</html>