<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>view2</title>
</head>
<body>
	<div id="view2.1">・。❄view2 첫번째 영역❄゜・。<br><br><br><img style='height: 650px; width: 700px; margin: 0;' src='/images/view2.1.jpg'><br><br><br><br><br><br><br><br></div>
	<div id="view2.2">・。❄view2 두번째 영역❄゜・。<br><br><br><img style='height: 550px; width: 700px; margin: 0;' src='/images/view2.2.jpg'><br><br><br><br><br><br><br><br></div>
	<div id="view2.3">・。❄view2 세번째 영역❄゜・。<br><br><br><img style='height: 500px; width: 700px;margin: 0;' src='/images/view2.3.jpg'><br><br><br><br><br><br><br><br></div>
	<div id="view2.4">・。❄view2 네번째 영역❄゜・。<br><br><br><img style='height: 440px; width: 700px; margin: 0;' src='/images/view2.4.jpeg'><br><br><br><br><br><br><br><br></div>
	<div id="view2.5">・。❄view2 다섯번째 영역❄゜・。<br><br><br><img style='height: 100%; width: 700px; margin: 0;' src='/images/view2.5.jpg'><br><br><br><br><br><br><br><br></div>
</body>
</html>